//
// Highlight box
//

.highlight-box {
  background: #fff;
  overflow: hidden;
  padding: 40px;
  margin: 20px 0 -35px 0;
  border-top: 1px solid darken($body-bg, 10%);
  .button {
    float: right;
    margin-bottom: 0;
  }
  h4 {
    margin: 0;
    font-weight: 300;
    float: left;
  }
}