//
// Contact
//


// Imported files //

// Variables //

// Mixins //

// Styling //

.s-services {
	padding: 20px;
}

.s-bg {
  margin: 15px 0 35px 0;
  padding-top: 25px ;
  background: #e8e5e5;
  background: #e8e5e5;
  background: #e8e5e5;
  background: #e8e5e5;
}